<div class="grid">
    <div class="card" *ngFor="let project of projects">
      <h2>{{ project.name }}</h2>
      <p>{{ project.description }}</p>
      
      <p class="report" (click)="toggleForm(project._id)">Report hours:
        <svg class="icon">
          <use xlink:href="#icon-chevron"></use>
        </svg>
      </p>
      <form [formGroup]="forms[project._id]" [class.active]="selectedProject === project._id" (ngSubmit)="reportHours(project._id)">
        <input formControlName="hours" type="number" min="0" max="45">
        <div *ngIf="isHoursInvalid(project._id)">
          <p class="error-message" *ngIf="isHoursRequired(project._id)">Hours is required.</p>
          <p class="error-message" *ngIf="isHoursExceeded(project._id)">Maximum allowed hours is 45.</p>
          <p class="error-message" *ngIf="error">{{ error }}</p>
        </div>
        <button type="submit" [disabled]="!forms[project._id].valid">Report Hours</button>
      </form>
    </div>
  </div>